{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <p>Total des patients: {{ total_patients }}</p>
    <p>Total des infirmiers: {{ total_nurses }}</p>
    <p>Total des visites: {{ total_visits }}</p>

    <nav>
        <ul>
            <li><a href="{{ path('app_login') }}">Connexion pour des infirmieres</a></li>
            <li><a href="{{ path('infirmiere_register') }}">Registration pour des infirmieres</a></li>
        </ul>
    </nav>

    <footer>
        <p>&copy; 2025 Système de gestion des soins</p>
    </footer>
{% endblock %}
