{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <h1 class="text-2xl font-bold mb-4">Mes rendez-vous</h1>

    {% if visites is not empty %}
        <table class="table-auto w-full border-collapse border border-gray-300">
            <thead class="bg-gray-100">
            <tr>
                <th class="border px-4 py-2">ID</th>
                {#                 <th class="border px-4 py-2">Patient</th> #}
                <th class="border px-4 py-2">Date prévue</th>
                <th class="border px-4 py-2">Durée</th>
                <th class="border px-4 py-2">Compte-rendu</th>
            </tr>
            </thead>
            <tbody>
            {% for visite in visites %}
                <tr class="hover:bg-gray-50">
                    <td class="border px-4 py-2">{{ visite.id }}</td>
                    {# <td class="border px-4 py-2">
                        {{ visite.patient.nom }} {{ visite.patient.prenom }}
                    </td> #}

                    <td class="border px-4 py-2">
                        {{ visite.datePrevue|date('d/m/Y H:i') }}
                    </td>
                    <td class="border px-4 py-2">{{ visite.duree }} minutes</td>
                    <td class="border px-4 py-2">
                        {{ visite.compteRenduInfirmiere ?: 'Non renseigné' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun rendez-vous de prévue.</p>
    {% endif %}






{% endblock %}
