{% extends 'base.html.twig' %}

{% block title %}Modifier la visite{% endblock %}

{% block body %}
    <h1>Modifier la visite</h1>
    {{ form_start(form) }}
    {{ form_row(form.datePrevue) }}
    {{ form_row(form.duree) }}
    {{ form_row(form.compteRenduInfirmiere) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
